.grid-item {
    text-align: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    outline: none;
}

.grid-item:hover {
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(0, 0, 0, 0.1);
}
