.App {
    text-align: center;
    width: 100%;
    position: relative;
    height: 100%;
}

.App .signIn {
    position: absolute;
    width: calc(100% - 20px);
    height: 30px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 50px);
    padding-top: 50px;
}

.signIn #login-sign-in-link,
.signIn #login-name-link {
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.signIn .login-button#login-buttons-open-change-password,
.signIn .login-button#login-buttons-password,
.signIn .login-button#login-buttons-logout {
    background-color: #212121;
    color: white;
}

.signIn {
    background-color: #212121;
    padding: 10px;
    color: white;
}

/* .welcome {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
} */


#login-dropdown-list {
    top: 30px;
    left: 0;
    transform: translateX(-25%);
}

button {
    outline: none;
}

.welcome>h1 {
    font-family: 'Frijole', cursive;
}

.welcome>h1,
.welcome>.fas {
    font-size: 3em;
}